

.rowdetail {
    
    padding: 15px 0;
    width: 200px;

}

.buttonclick {
    background-color: #288ad6;
    color: #fff;
}
#borrow-content .table-order {
    border-collapse: collapse;
    overflow: visible;
}
#borrow-content .table-order.table thead th:first-child {
    padding-right: 0;
}
#borrow-content .table-order.table thead th {
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    vertical-align: top;
    padding: 0px 40px;
    padding-right: 10px;
}

#borrow-content  .table-order.table tbody {
    background: #fff;
}

#borrow-content .table-order.table tbody tr td:first-child { 
    border-bottom-left-radius: 3px;
    vertical-align: top;
}

#borrow-content .table-order.table tbody td.desc {
    color: #4272d7;
}

#borrow-content .table-order.table tbody td { 
    font-size: 14px;
    color: #808080;
    vertical-align: middle;
    padding: 10px 40px;
    padding-right: 10px;
    border: none;
}
#borrow-content .table-order.table tbody td.pht {
	width: 130px;
}
#borrow-content .table-order.table tbody .pht .img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#borrow-content .table-order.table tbody td { 
    font-size: 14px;
    color: #808080;
    vertical-align: middle;
    padding: 10px 40px;
    padding-right: 10px;
    border: none;
}
#borrow-content .table-order.table tbody .pht .img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* borrow list page */
#borrow-list .table tbody td.pht {
    width: 160px;
}
#borrow-list .table tr {
    cursor: pointer;
}
#borrow-list .table tbody .pht .img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#borrow-list .table tbody td { 
    font-size: 14px;
    vertical-align: middle;
}

#borrow-content .table-order.table tbody .pht .img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

/**/
#detail-device .head {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
#detail-device .head h1{
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    color: #666;
    float: left;
}

#detail-device .head ul{
    position: relative;
    float: right;
    z-index: 10;
    list-style-type: none
}

#detail-device  .head li {
    padding-left: 10px;
    float: left;
}

#detail-device  .head li.back a{ 
    background: #868e97;
}

#detail-device  .head li a{
    transition: opacity 0.7s ease;
    display: block;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0088ee;
    padding: 0 15px;
    min-width: 130px;
    font-size: 13px;
    line-height: 36px;
    color: #fff;
    text-align: center;
}
#detail-device .head li a:hover {
    opacity: 0.6;
}
#detail-device .head li.back a::before {
    content: "\f015";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
}

#detail-device .basic-content .detail-image {
    max-width: 200px;
    width: 100%;
    float: left;
}


